.about-company{
    margin-top: 120px;
    
        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            
            
        }
    
        .about-img{
            position:relative;
            display: none;
    
    
            @media (min-width:1200px) {
                display:inline-block; 
               
                
            }
    
    
    
            .walking-woman{
                width: 480px;
                height: 615px;
                object-fit: cover;
                padding-left: 30px;
            }
    
            .about-founder{
                width: 300px;
                height: 170px;
                background-color: $colour-blue;
                position: absolute;
                top: 360px;
                padding:30px;  
                box-shadow: 1.8px 1.8px 4px $colour-blur;  
                
                h5{
                    font-family: $font-dm-sants;
                    font-weight: bold;
                    font-size: 20px;
                    
                    span{
                        font-size: 16px;
                        font-weight: bolder;
                    }
                }
            }
    
            .about-background-lines{
                position: absolute;
                top:70px;
                left:30px;
                width: 180px;
                height: 80px;            
            }
        }
    
        .about-info{
            margin-left: 0px;
            margin-right: 0px;
           
            
            @media (min-width:992px) {
                //flex:1 1 50%
                margin-left: 190px;
                margin-right: 100px;
                
            }
            @media (min-width:1200px) {
                //flex:1 1 50%
                margin-left: 190px;
                margin-right: auto;
                
            }
    
    
            .about-title{
                font-size: 35px; //45px in normal
                font-family:$font-dm-sants;
                font-weight: $font-weight-bold-700;
                margin:40px  auto 30px auto;
        
                @media (min-width:992px) {
                    font-size: 45px;  
                    margin:30px  auto;         
        
                }
            }
        
            p{
                font-size: 1rem;
                font-family: $font-inter;
                font-weight: $font-weight-regular-400;
                color: $colour-black-op70;
                margin: 30px auto 40px 0;
            }
           
            .paragraph{
                margin-top: 30px;
                @media (min-width:992px) {
                    margin-top: 45px;               
        
                }
            }
            
            .about-btn{
                display: flex;
                align-items: center;
                margin-bottom: 50px;
    
                @media (min-width:992px) {
                    margin-top: 50px;           
        
                }
    
                .button-black{
                               
                    text-align: center;
                    //padding: 15px 30px 10px;
                    width: 100%;
                            @media (min-width:992px) {
                                
                                padding: 15px 30px 10px;
                               width: auto;
                                display: inline-block;
                            }
                }
    
                .video-btn{
                    border:1px solid $colour-black;
                    background-color: transparent;
                    border-radius: 50%;
                    margin-left: 35px;
                    margin-right: 15px;
                    display: none;
                    transition: all 0.3s ease-in-out;   
    
                    @media (min-width:992px) {
                        display: inline-block;   
                        
                        &:hover{
                            background-color: $colour-black;
                            color: $colour-white;
                            
                
                            i{
                                color:  $colour-white;
                            }
                        }
            
                    }
    
                    i{
                        padding: 15px;
                        font-size: .9em;
                    }
    
                }
    
                .video-text{
                    font-size: 1rem;
                    font-weight: $font-weght-semiBold-600;
                    display: none;
                    color: $colour-black-op70;
    
                    @media (min-width:992px) {
                        display: inline-block;           
            
                    }
                }         
    
    
            }
    
        }
        
    
    }