.article{
    .container{

        margin-top: 120px;
        margin-bottom: 30px;

        .article-title{
        
            padding-bottom: 40px;
            
                @media (min-width:1200px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            } 
            
                h2{
                    padding-bottom: 30px;
                }

            .button-beige{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: center; 
                width: 100%;

                @media (min-width:992px) {
                    display: inline; 
                    width: auto; 
                } 
            }

            
        }

        


        .article-content{
            display: flex;
            
            flex-direction: column;            
            gap: 20px;
            text-align: start;

            @media (min-width: 992px) {
              
              flex-direction: row;
              justify-content: space-between;              
            }  
                

            @media (min-width: 1200px) {
               
                flex-direction: row;
            }


            .content-box {
                @media (min-width:992px) {
                    // width: 30%; 
                }
                @media (min-width:992px) {
                    width: auto;
                }

                .article-img{

                    img {
                        width: 100%;
                        @media (min-width:992px) {
                            width: 298px;  
                        }
                        @media (min-width:1200px) {
                            width: 100%;  
                        }
                    }                    
                }

                 .business-text{
                    p {
                        font-size: 1rem;
                        font-family: $font-inter;
                        font-weight: $font-weight-regular-400;
                        color: $colour-black-op70;  
                        margin-top: 30px;                     
                    }

                    h3 {
                        font-size: 1.375rem;
                        font-family: $font-dm-sants;
                        font-weight: $font-weight-bold-700;
                        
                    }
                } 
            }
            

        }

        .dots{
            display: flex;
            justify-content: center;
            
             span{
                margin: 0 0.2rem;
                font-size: 60pt; 
                color: $colour-black-op10;

                &:hover{
                    color: $colour-black
                }
            } 
        }              



    }


}