

.features{
    .container{
        justify-content:center;       
        align-items: center;
        margin-top: 60px; 
        
       
            @media (min-width: 992px) {
                display: flex;
                margin-top: 30px;   
                border: 1.2px solid $colour-black-op10; //1.2px  på Adobe                              
            }

            @media (min-width: 1200px) {
                margin-top: 30px; 
                display: flex;
                justify-content: space-between;                   
                border: 1.2px solid $colour-black-op10; //1.2px  på Adobe             
            }

        .features-info {
                 
            
            @media (min-width: 992px) {
                width: 78%;
                padding:45px 10px 60px 80px;

            }

            @media (min-width: 1200px) {
                width: 60%;
                padding: 45px 30px 100px 50px;

            }

            .feature-mobile{               
               
                      
                

                @media (min-width: 992px) {
                    
                    padding-right: 80px;
    
                }
    
                @media (min-width: 1200px) {
                    padding-right: 0;
    
                }

                .features-title{
                                      
                    margin-bottom: 25px;
                    
    
                }
                
                .button-yellow{
                    position:relative;
                    //top:90px;
                    top:22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;              
                    text-align: center;
                    width: 100%;
    
                        @media (min-width:992px) {
                            margin:0 10px 0 0;
                            top:auto;
                            width: auto;
                            display: inline-block;
                        }

                        
                }    
            }
                  
        }    

        .features-aside{
            display:none;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 30px;
            padding-right: 30px;

            @media (min-width:1200px) {
                display: grid;

                
            }
        }

        .feature-grid{
            div{
                font-size: 25px;
                margin-bottom: 15px;
                
            }

            h3{
                font-family:$font-dm-sants;
                font-size: 22px; 
                font-weight: $font-weight-bold-700;
                margin:10px auto;
            }

            p{
                font-size: 16px;
                font-weight: $font-weight-regular-400;
                color: $colour-black-op70;
            }
        }
    }
}
