.our-service{
    background-color: $colour-beige; 
    margin-top: 120px;     
    position: relative;
   
    
    img{
        display: none;
        position: absolute;
        right: 0;
        bottom: 0; 
       
        @media (min-width: 1200px) {  
           display: inline-block;                            
        }

    }
   

    .container{
        text-align: center;
        

        @media (min-width: 1200px) { 
            text-align: start;                          
         }

       

         .our-service-info{
            
                padding-top: 120px;
                padding-bottom: 60px;              
                margin-left: auto;
                margin-right: auto;

                @media (min-width: 992px) { 
                    margin-left: 190px;
                    margin-right: 100px;
                    width: 76%;
                                         
                }
    
                @media (min-width: 1200px) { 
                    padding-left:30px;
                    width: 100%;
                    margin-left: 0;
                    margin-right: auto;
                                             
                 }

            .red-text{
            text-align: left;
            margin-bottom: 50px;

           

             @media (min-width: 1200px) { 
                
                margin-bottom: 35px;
                                         
             }

            }     

             .our-service-title{
                
                padding-bottom: 20px;
                text-align: start;
                
                @media (min-width: 992px) { 
                   
                    margin-bottom: auto;
                                             
                 }
    
                @media (min-width: 1200px) { 
                   
                    padding-bottom: 5px;
                    width: 500px;                          
                 }
             }
         }


        .flex-wrapper{
           
            display: none;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin: 50px auto;

           

                @media (min-width: 1200px) { 
                    display: flex;                          
                }

                
            .box{
                
                padding: 90px 30px 45px;
                transition: all 0.3s ease-in-out;  
                background-color: $colour-white;
             
                &:hover {
                    background-color: $colour-yellow-btn;
                    transition: 0.3s ease-in;
                    box-shadow: 5px 9px 7px $colour-blur;
                   
                }


                &::after{
                    content: '';
                    position: absolute;
                    font-weight: $font-weight-medium-500;
                    height: 2px;
                    width: 39px;
                    background-color: $colour-black-op90;
                    top:440px;

                }

                h3{
                    font-size: 22px;
                    font-family: $font-dm-sants;
                    font-weight: $font-weight-bold-700;
                    
                }

                p{
                    margin-top: 18px;
                    margin-bottom: 25px;
                }

                .btn-arw-r {

                    text-decoration: none;
                    padding: 15px 25px;
                    font-weight: $font-weght-semiBold-600;
                    text-align: right;
                    font-size: 14px;


                  
                    @media (min-width: 992px) {
                        font-size: 16px;
                    }

                    i {
                        background-color: $colour-black;
                        color: $colour-white;
                        padding: 20px;
                        align-items: center;
                        border: 1px solid $colour-black;
                        border-radius: 50%;
                        margin-left: 8px;
                        margin-right: -15px;
                        font-size: 0.9em;
                        
                        &:hover{
                            background-color: $colour-white;
                            color: $colour-black;
                            transition: 0.3s;
                        }
                    }
                }
             
            
            }
        }

        .our-service-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 120px; 
           
            
            @media (min-width:992px) {
                justify-content: flex-start;
                margin-left: 190px;
            }

            @media (min-width:1200px) {
                justify-content: center;
                margin-left: 0;
                
            }
            @media (min-width:1320px) {
                justify-content: center;
                
            }

                .button-beige{
                    z-index: 3;  
                    width: 100%;

                    @media (min-width: 992px) { 
                        width: auto;
                                           
                     }
                }            
        }

    }


}