
    
$colour-black: #191919;



// Colour black with diffferent opacity
$colour-black-op10:rgba(#191919, 0.1);
$colour-black-op20:rgba(#191919, 0.2);
$colour-black-op30:rgba(#191919, 0.3);
$colour-black-op70:rgba(#191919, 0.7); 
$colour-black-op75:rgba(#191919, 0.75);
$colour-black-op80:rgba(#191919, 0.8);
$colour-black-op90:rgba(#191919, 0.9);


$colour-black-footer:#0E1021;




$colour-white: #FFFFFF;
$colour-white-op70:rgba(#FFFFFF, 0.7);

$colour-beige: #F0EFE9;

$colour-yellow-btn:#F9D783;

$colour-blue:#BEEBFF;

$colour-red:#F94D1C;
$colour-grey:#A4A4A4;
$colour-blur:#707070;

