// ----------------------- Red rext---------------

.red-text{
    font-size: 18px;
    font-family: $font-inter;
    font-weight: $font-weight-medium-500;
    color: $colour-red;
}
// ----------------------- A---------------

a{
    text-decoration: none;
    color: $colour-black;
}  
  
h2.title{
    font-family: $font-dm-sants;
    font-size: 45px;
    font-weight: $font-weight-bold-700;
}

// p{} det kan komplettera om jag har tud

// h3{} det kan komplettera om jag har tud