// ----------------------- Different Buttons---------------


.button-yellow {      
    border: none;
    color: $colour-black;
    background-color: $colour-yellow-btn;
    padding: 15px 30px 10px 30px;
    border-radius:30px;    
    transition: all 0.3s ease-in-out;
    
                    
    &:hover{
        background-color: $colour-black-op90;
        color: $colour-white;

        i{
            color: $colour-white;
        }
    }

    i{
        margin-left: 9px;
        font-size: 1em;
        color: $colour-black-op70;  
    }

}


.button-beige {  
   
    background-color: transparent; 
    border : 1px solid $colour-black; 
    padding: 15px 30px 10px 30px;
    color: $colour-black;
    border-radius:30px;
    transition: all 0.3s ease-in-out;        
    
                    
        &:hover{
            background-color: $colour-black;
            color: $colour-white;

            i{
                color:  $colour-white;
            }
        }

        i{
            margin-left: 9px;
            font-size: 1em;
            color: $colour-black-op70;  
                   
        }

}



.button-black {     
    
    border : 1px solid $colour-black; 
    color: $colour-white;
    background-color: $colour-black;
    padding: 15px 30px 10px 30px;
    border-radius:30px;
    transition: all 0.3s ease-in-out;       
                            
        &:hover{
            background-color: $colour-yellow-btn;
            color: $colour-black;  

            i{
                color: $colour-black-op70;  
            }
             
        }

        i{
            margin-left: 9px;
            font-size: 1em;
            color: $colour-white;          

        }
        
} 


