@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Inter:wght@300;400;500;600;700&display=swap");
/* $font-size  with 14px = 0.875 rem;  //    14/16 från roten = 0,875*/
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #191919;
}

.red-text {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #F94D1C;
}

a {
  text-decoration: none;
  color: #191919;
}

h2.title {
  font-family: "DM sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

.button-yellow {
  border: none;
  color: #191919;
  background-color: #F9D783;
  padding: 15px 30px 10px 30px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.button-yellow:hover {
  background-color: rgba(25, 25, 25, 0.9);
  color: #FFFFFF;
}
.button-yellow:hover i {
  color: #FFFFFF;
}
.button-yellow i {
  margin-left: 9px;
  font-size: 1em;
  color: rgba(25, 25, 25, 0.7);
}

.button-beige {
  background-color: transparent;
  border: 1px solid #191919;
  padding: 15px 30px 10px 30px;
  color: #191919;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.button-beige:hover {
  background-color: #191919;
  color: #FFFFFF;
}
.button-beige:hover i {
  color: #FFFFFF;
}
.button-beige i {
  margin-left: 9px;
  font-size: 1em;
  color: rgba(25, 25, 25, 0.7);
}

.button-black {
  border: 1px solid #191919;
  color: #FFFFFF;
  background-color: #191919;
  padding: 15px 30px 10px 30px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.button-black:hover {
  background-color: #F9D783;
  color: #191919;
}
.button-black:hover i {
  color: rgba(25, 25, 25, 0.7);
}
.button-black i {
  margin-left: 9px;
  font-size: 1em;
  color: #FFFFFF;
}

.nav-section {
  background-color: #F0EFE9;
  padding: 20px auto;
  margin-left: auto;
  margin-right: auto;
}
.nav-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-section .container .logo {
  padding: 0 60px 0 0;
}
@media (min-width: 992px) {
  .nav-section .container .fa-bars {
    display: none;
  }
}
.nav-section .container .navigation-bar {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .nav-section .container .navigation-bar {
    display: flex;
  }
}
.nav-section .container .navigation-bar .upper-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
}
@media (max-width: 1200px) {
  .nav-section .container .navigation-bar .upper-info {
    border-bottom: none;
  }
}
.nav-section .container .navigation-bar .upper-info .business-info {
  display: none;
  align-items: center;
  font-weight: 300;
}
@media (min-width: 1200px) {
  .nav-section .container .navigation-bar .upper-info .business-info {
    display: flex;
  }
}
.nav-section .container .navigation-bar .upper-info .business-info span {
  padding: 0 35px 0 0;
  font-size: 0.9rem;
  color: rgba(25, 25, 25, 0.8);
}
.nav-section .container .navigation-bar .upper-info .business-info span i {
  padding: 0 8px 0 0;
  font-size: 1.2rem;
}
.nav-section .container .navigation-bar .upper-info .business-info span:nth-child(2) i, .nav-section .container .navigation-bar .upper-info .business-info span:nth-child(3) i {
  padding-left: 15px;
  border-left: 1px solid rgba(25, 25, 25, 0.1);
}
.nav-section .container .navigation-bar .upper-info .social-media {
  display: none;
}
@media (min-width: 1200px) {
  .nav-section .container .navigation-bar .upper-info .social-media {
    display: inline;
  }
}
.nav-section .container .navigation-bar .upper-info .social-media i {
  font-size: 1.2rem;
  margin: 20px 0 20px 15px;
}
.nav-section .container .navigation-bar .lower-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.nav-section .container .navigation-bar .lower-info .navigation-links {
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.nav-section .container .navigation-bar .lower-info .navigation-links a {
  margin: 0 32px 0 0;
  position: relative;
  display: inline-block;
}
.nav-section .container .navigation-bar .lower-info .navigation-links a.active::after, .nav-section .container .navigation-bar .lower-info .navigation-links a:hover::after {
  content: "";
  position: absolute;
  font-weight: 300;
  height: 2px;
  width: 15px;
  background-color: rgba(25, 25, 25, 0.7);
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 80px;
  align-items: center;
}
@media (min-width: 1200px) {
  .showcase .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.showcase .container .showcase-info .showcase-title {
  font-family: "DM sans", sans-serif;
  font-size: 52px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .showcase .container .showcase-info .showcase-title {
    font-size: 62px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .showcase-info .showcase-title {
    font-size: 84px;
  }
}
.showcase .container .showcase-info .showcase-paragraph {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: rgba(25, 25, 25, 0.7);
  font-weight: 400;
  margin: 15px 0 40px;
}
.showcase .container .showcase-info .showcase-btn {
  margin: 50px 0 0;
  z-index: 1;
  display: grid;
}
@media (min-width: 992px) {
  .showcase .container .showcase-info .showcase-btn {
    display: inline;
  }
}
.showcase .container .showcase-info .showcase-btn .button-yellow {
  margin: 0 0 20px;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container .showcase-info .showcase-btn .button-yellow {
    margin: 0 10px 0 0;
  }
}
.showcase .container .showcase-info .showcase-btn .button-beige {
  text-align: center;
}
.showcase .container .showcase-img {
  margin: 80px -50px auto auto;
  display: none;
}
@media (min-width: 1200px) {
  .showcase .container .showcase-img {
    display: inline;
  }
}
.showcase .simple-line {
  position: absolute;
  bottom: 0;
  z-index: -2;
  display: none;
}
@media (min-width: 992px) {
  .showcase .simple-line {
    display: inline;
  }
}

.company_logos .container {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 70px auto;
}
@media (min-width: 1200px) {
  .company_logos .container {
    display: flex;
  }
}

.features .container {
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
@media (min-width: 992px) {
  .features .container {
    display: flex;
    margin-top: 30px;
    border: 1.2px solid rgba(25, 25, 25, 0.1);
  }
}
@media (min-width: 1200px) {
  .features .container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border: 1.2px solid rgba(25, 25, 25, 0.1);
  }
}
@media (min-width: 992px) {
  .features .container .features-info {
    width: 78%;
    padding: 45px 10px 60px 80px;
  }
}
@media (min-width: 1200px) {
  .features .container .features-info {
    width: 60%;
    padding: 45px 30px 100px 50px;
  }
}
@media (min-width: 992px) {
  .features .container .features-info .feature-mobile {
    padding-right: 80px;
  }
}
@media (min-width: 1200px) {
  .features .container .features-info .feature-mobile {
    padding-right: 0;
  }
}
.features .container .features-info .feature-mobile .features-title {
  margin-bottom: 25px;
}
.features .container .features-info .feature-mobile .button-yellow {
  position: relative;
  top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
@media (min-width: 992px) {
  .features .container .features-info .feature-mobile .button-yellow {
    margin: 0 10px 0 0;
    top: auto;
    width: auto;
    display: inline-block;
  }
}
.features .container .features-aside {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  padding-right: 30px;
}
@media (min-width: 1200px) {
  .features .container .features-aside {
    display: grid;
  }
}
.features .container .feature-grid div {
  font-size: 25px;
  margin-bottom: 15px;
}
.features .container .feature-grid h3 {
  font-family: "DM sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 10px auto;
}
.features .container .feature-grid p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(25, 25, 25, 0.7);
}